html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  background: var(--vscode-sideBar-background);
}
