**
!dist/extension.js
!dist/conversation.js
!dist/tab.js
!dist/modelApi.js
!dist/providers.js
!dist/subscriptions.js
!dist/configuredProviders.js
!dist/sessionBoard.js
!dist/reviewer.js
!dist/foreignHooks.js
!dist/hookRuntime.js
!dist/extensionHooks.js
!dist/pluginHooks.js
!dist/planMarkdown.js
!dist/checkpointStore.js
!dist/browserCheck.js
!dist/browserRuntime.js
!dist/review.js
!dist/agentImport.js
!dist/conversationGit.js
!dist/bundledSkills.js
!dist/codeIntel.js
!dist/voice.js
!dist/webFetch.js
!dist/museCodeReviewer.js
!dist/modelsPanel.js
!dist/uiText.js
!dist/validation.js
!dist/whatsNew.js
!dist/whatsNew.json
!dist/judge.js
!dist/uiTextRuntime.js
!dist/uiTextHooks.js
!dist/uiTextSurfaces.js
!dist/runtime.bundles.json.br
!dist/wire.js
!dist/searchWorker.js
!dist/pageWorker.js
!dist/report.js
!dist/recorder.js
!dist/webview/main.js
!dist/webview/chunks/*.js
!dist/webview/main.css
!dist/webview/models.js
!dist/webview/models.css
!dist/providerCatalog.json
!dist/webview/whatsNew.js
!dist/webview/whatsNew.css
!media/icon.svg
!media/icon.png
!resources/walkthrough/**
!native/windows/dictate.ps1
!native/windows/capture.ps1
!native/windows/MuseSparkMcpJob.cs
!native/windows/MuseSparkJob.cs
!native/windows/MuseSparkMcpLauncher.cs
!native/darwin/muse-dictate
!package.json
!package.nls.json
!package.nls.*.json
!l10n/ui.*.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.txt
!docs/PRIVACY.md
!docs/judge.md
!vendor/high-quality-projects-skill/**
!vendor/models-dev/LICENSE
!vendor/models-dev/VENDOR.json
!first-party-skills/**
