**
!dist/extension.js
!dist/searchWorker.js
!dist/webview/main.js
!dist/webview/main.css
!media/icon.svg
!media/icon.png
!resources/walkthrough/**
!native/windows/dictate.ps1
!native/darwin/muse-dictate
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!docs/PRIVACY.md
