**
!dist/extension.js
!dist/searchWorker.js
!dist/webview/main.js
!dist/webview/main.css
!media/icon.svg
!media/icon.png
!resources/walkthrough/**
!native/windows/dictate.ps1
!native/darwin/muse-dictate
!package.json
!package.nls.json
!package.nls.*.json
!l10n/ui.*.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.txt
!docs/PRIVACY.md
